name: Build Angular App

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_angular_app:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout
       uses: actions/checkout@v6.0.1
     - name: Setup Node.js environment
       uses: actions/setup-node@v6.1.0
       with:
         node-version: 20.x
     - name: Install dependencies
       run: npm install
     - name: Build Angular App
       run: npm run build
     - name: Upload angular bundle
       uses: actions/upload-artifact@v6.0.0
       with:
        name: angular_bundle
        path: dist/test_build
