name: manual_with_inputs

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      name:
        description: 'Your name'
        type: string
        default: 'Your name here'
      age:
        description: 'Your age'
        type: number
        required: true
jobs:
  echo_inputs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Echo branch name
        run: echo 'your name' ${{inputs.name}}
